Импорт необходимых библиотек для работы с файлами данных

In [1]:
import pandas as pd
from sqlalchemy import create_engine

Грузим данные (важно указать правильные пути к файлам)

In [2]:
df = pd.read_csv('datasets/NYC-BikeShare-2015-2017-combined.csv', index_col=0)

Чистим от мусора

In [3]:
df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Trip_Duration_in_min
0,376,2015-10-01 00:16:26,2015-10-01 00:22:42,3212,Christ Hospital,40.734786,-74.050444,3207,Oakland Ave,40.737604,-74.052478,24470,Subscriber,1960.0,1,6
1,739,2015-10-01 00:27:12,2015-10-01 00:39:32,3207,Oakland Ave,40.737604,-74.052478,3212,Christ Hospital,40.734786,-74.050444,24481,Subscriber,1960.0,1,12
2,2714,2015-10-01 00:32:46,2015-10-01 01:18:01,3193,Lincoln Park,40.724605,-74.078406,3193,Lincoln Park,40.724605,-74.078406,24628,Subscriber,1983.0,1,45
3,275,2015-10-01 00:34:31,2015-10-01 00:39:06,3199,Newport Pkwy,40.728745,-74.032108,3187,Warren St,40.721124,-74.038051,24613,Subscriber,1975.0,1,5
4,561,2015-10-01 00:40:12,2015-10-01 00:49:33,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,24668,Customer,1984.0,0,9

In [4]:
df.dropna()
df = df.drop_duplicates()

In [5]:
df

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Trip_Duration_in_min
0,376,2015-10-01 00:16:26,2015-10-01 00:22:42,3212,Christ Hospital,40.734786,-74.050444,3207,Oakland Ave,40.737604,-74.052478,24470,Subscriber,1960.0,1,6
1,739,2015-10-01 00:27:12,2015-10-01 00:39:32,3207,Oakland Ave,40.737604,-74.052478,3212,Christ Hospital,40.734786,-74.050444,24481,Subscriber,1960.0,1,12
2,2714,2015-10-01 00:32:46,2015-10-01 01:18:01,3193,Lincoln Park,40.724605,-74.078406,3193,Lincoln Park,40.724605,-74.078406,24628,Subscriber,1983.0,1,45
3,275,2015-10-01 00:34:31,2015-10-01 00:39:06,3199,Newport Pkwy,40.728745,-74.032108,3187,Warren St,40.721124,-74.038051,24613,Subscriber,1975.0,1,5
4,561,2015-10-01 00:40:12,2015-10-01 00:49:33,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,24668,Customer,1984.0,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6663,717,2015-09-30 23:27:45,2015-09-30 23:39:43,3213,Van Vorst Park,40.718489,-74.047727,3200,MLK Light Rail,40.711131,-74.078885,24563,Subscriber,1986.0,1,12
6664,473,2015-09-30 23:33:49,2015-09-30 23:41:42,3198,Heights Elevator,40.748716,-74.040443,3198,Heights Elevator,40.748716,-74.040443,24691,Customer,1984.0,0,8
6665,237,2015-09-30 23:38:01,2015-09-30 23:41:59,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24396,Subscriber,1982.0,2,4
6666,368,2015-09-30 23:45:26,2015-09-30 23:51:35,3214,Essex Light Rail,40.712774,-74.036486,3187,Warren St,40.721124,-74.038051,24438,Subscriber,1988.0,2,6
6667,2415,2015-09-30 23:51:46,2015-10-01 00:32:01,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,24613,Subscriber,1975.0,1,40

Фильтрация по разумной длительности поездки

In [6]:
#df = df[(df['Trip_Duration_in_min'] >= 1) & (df['Trip_Duration_in_min'] <= 180)]

Преобразование данных

In [7]:
df.columns

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender', 'Trip_Duration_in_min'],
      dtype='object')

In [8]:
df['Start Time'] = pd.to_datetime(df['Start Time'])
df['Stop Time'] = pd.to_datetime(df['Stop Time'])
df = df[df['Start Time'] - df['Stop Time'] < pd.Timedelta(minutes=180)]

In [9]:
df['Birth Year'] = df['Birth Year'].fillna(0).astype(int)

In [10]:
df['User Type'] = df['User Type'].astype(str)

In [11]:
df['Start Station Name'] = df['Start Station Name'].astype(str)

Переименуем для удобства использования

In [12]:
df.columns = [col.strip().lower().replace(" ", "_") for col in df.columns]
df.columns

Index(['trip_duration', 'start_time', 'stop_time', 'start_station_id',
       'start_station_name', 'start_station_latitude',
       'start_station_longitude', 'end_station_id', 'end_station_name',
       'end_station_latitude', 'end_station_longitude', 'bike_id', 'user_type',
       'birth_year', 'gender', 'trip_duration_in_min'],
      dtype='object')

Грузим в БД (PostgreSQL)

In [15]:
user="pguser"
password="Pa$$w0rd"
host="vpngw.avalon.ru"
port="5432"
dbb="prifki"

engine = create_engine(f"postgresql://{user}:{password}@{host}:{port}/{dbb}")

df.to_sql("bike_trips", engine, if_exists="replace", index=False)

print("Загружены!")

Загружены!