In [12]:
import pandas as pd
from sqlalchemy import create_engine

In [13]:
csv_file_path = (r'D:\МИША\MISHA\UNIVERSITY\БДпрактика\yellow_tripdata_2016-01.csv')
df = pd.read_csv(csv_file_path)

In [14]:
df.head

<bound method NDFrame.head of           VendorID tpep_pickup_datetime tpep_dropoff_datetime  \
0                2  2016-01-01 00:00:00   2016-01-01 00:00:00
1                2  2016-01-01 00:00:00   2016-01-01 00:00:00
2                2  2016-01-01 00:00:00   2016-01-01 00:00:00
3                2  2016-01-01 00:00:00   2016-01-01 00:00:00
4                2  2016-01-01 00:00:00   2016-01-01 00:00:00
...            ...                  ...                   ...
10906853         2  2016-01-31 23:30:32   2016-01-31 23:38:18
10906854         1  2016-01-05 00:15:55   2016-01-05 00:16:06
10906855         1  2016-01-05 06:12:46   2016-03-19 20:45:50
10906856         1  2016-01-05 06:21:44   2016-03-28 12:54:26
10906857         1  2016-01-05 06:15:21   2016-01-05 06:15:36

          passenger_count  trip_distance  pickup_longitude  pickup_latitude  \
0                       2           1.10        -73.990372        40.734695
1                       5           4.90        -73.980782        40.729912
2                       1          10.54        -73.984550        40.679565
3                       1           4.75        -73.993469        40.718990
4                       3           1.76        -73.960625        40.781330
...                   ...            ...               ...              ...
10906853                1           2.20        -74.003578        40.751011
10906854                1           0.00        -73.945488        40.751530
10906855                3           1.40        -73.994240        40.766586
10906856                1           2.10        -73.948067        40.776531
10906857                3           0.00        -73.960938        40.758595

          RatecodeID store_and_fwd_flag  dropoff_longitude  dropoff_latitude  \
0                  1                  N         -73.981842         40.732407
1                  1                  N         -73.944473         40.716679
2                  1                  N         -73.950272         40.788925
3                  1                  N         -73.962242         40.657333
4                  1                  N         -73.977264         40.758514
...              ...                ...                ...               ...
10906853           1                  N         -73.982651         40.767509
10906854           1                  N         -73.945457         40.751530
10906855           1                  N         -73.984428         40.753922
10906856           1                  N         -73.978188         40.777435
10906857           2                  N         -73.961006         40.758583

          payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0                    2          7.5    0.5      0.5        0.00          0.00
1                    1         18.0    0.5      0.5        0.00          0.00
2                    1         33.0    0.5      0.5        0.00          0.00
3                    2         16.5    0.0      0.5        0.00          0.00
4                    2          8.0    0.0      0.5        0.00          0.00
...                ...          ...    ...      ...         ...           ...
10906853             2          8.5    0.5      0.5        0.00          0.00
10906854             2          2.5    0.5      0.5        0.00          0.00
10906855             2          7.5    0.5      0.5        0.00          0.00
10906856             1         11.5    0.0      0.5        2.45          0.00
10906857             2         52.0    0.0      0.5        0.00          5.54

          improvement_surcharge  total_amount
0                           0.3          8.80
1                           0.3         19.30
2                           0.3         34.30
3                           0.3         17.30
4                           0.3          8.80
...                         ...           ...
10906853                    0.3          9.80
10906854                    0.3          3.80
10906855                    0.3          8.80
10906856                    0.3         14.75
10906857                    0.3         58.34

[10906858 rows x 19 columns]>

In [7]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
pickup_longitude         float64
pickup_latitude          float64
RatecodeID                 int64
store_and_fwd_flag        object
dropoff_longitude        float64
dropoff_latitude         float64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

In [15]:
df.dropna()
df = df.drop_duplicates()

In [16]:
df.head

<bound method NDFrame.head of           VendorID tpep_pickup_datetime tpep_dropoff_datetime  \
0                2  2016-01-01 00:00:00   2016-01-01 00:00:00
1                2  2016-01-01 00:00:00   2016-01-01 00:00:00
2                2  2016-01-01 00:00:00   2016-01-01 00:00:00
3                2  2016-01-01 00:00:00   2016-01-01 00:00:00
4                2  2016-01-01 00:00:00   2016-01-01 00:00:00
...            ...                  ...                   ...
10906853         2  2016-01-31 23:30:32   2016-01-31 23:38:18
10906854         1  2016-01-05 00:15:55   2016-01-05 00:16:06
10906855         1  2016-01-05 06:12:46   2016-03-19 20:45:50
10906856         1  2016-01-05 06:21:44   2016-03-28 12:54:26
10906857         1  2016-01-05 06:15:21   2016-01-05 06:15:36

          passenger_count  trip_distance  pickup_longitude  pickup_latitude  \
0                       2           1.10        -73.990372        40.734695
1                       5           4.90        -73.980782        40.729912
2                       1          10.54        -73.984550        40.679565
3                       1           4.75        -73.993469        40.718990
4                       3           1.76        -73.960625        40.781330
...                   ...            ...               ...              ...
10906853                1           2.20        -74.003578        40.751011
10906854                1           0.00        -73.945488        40.751530
10906855                3           1.40        -73.994240        40.766586
10906856                1           2.10        -73.948067        40.776531
10906857                3           0.00        -73.960938        40.758595

          RatecodeID store_and_fwd_flag  dropoff_longitude  dropoff_latitude  \
0                  1                  N         -73.981842         40.732407
1                  1                  N         -73.944473         40.716679
2                  1                  N         -73.950272         40.788925
3                  1                  N         -73.962242         40.657333
4                  1                  N         -73.977264         40.758514
...              ...                ...                ...               ...
10906853           1                  N         -73.982651         40.767509
10906854           1                  N         -73.945457         40.751530
10906855           1                  N         -73.984428         40.753922
10906856           1                  N         -73.978188         40.777435
10906857           2                  N         -73.961006         40.758583

          payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0                    2          7.5    0.5      0.5        0.00          0.00
1                    1         18.0    0.5      0.5        0.00          0.00
2                    1         33.0    0.5      0.5        0.00          0.00
3                    2         16.5    0.0      0.5        0.00          0.00
4                    2          8.0    0.0      0.5        0.00          0.00
...                ...          ...    ...      ...         ...           ...
10906853             2          8.5    0.5      0.5        0.00          0.00
10906854             2          2.5    0.5      0.5        0.00          0.00
10906855             2          7.5    0.5      0.5        0.00          0.00
10906856             1         11.5    0.0      0.5        2.45          0.00
10906857             2         52.0    0.0      0.5        0.00          5.54

          improvement_surcharge  total_amount
0                           0.3          8.80
1                           0.3         19.30
2                           0.3         34.30
3                           0.3         17.30
4                           0.3          8.80
...                         ...           ...
10906853                    0.3          9.80
10906854                    0.3          3.80
10906855                    0.3          8.80
10906856                    0.3         14.75
10906857                    0.3         58.34

[10906857 rows x 19 columns]>

In [20]:
df = df[df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime'] < pd.Timedelta(minutes=180)].copy()
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [23]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
pickup_longitude                float64
pickup_latitude                 float64
RatecodeID                        int64
store_and_fwd_flag               object
dropoff_longitude               float64
dropoff_latitude                float64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
dtype: object

In [25]:
df.head

<bound method NDFrame.head of           VendorID tpep_pickup_datetime tpep_dropoff_datetime  \
0                2  2016-01-01 00:00:00   2016-01-01 00:00:00
1                2  2016-01-01 00:00:00   2016-01-01 00:00:00
2                2  2016-01-01 00:00:00   2016-01-01 00:00:00
3                2  2016-01-01 00:00:00   2016-01-01 00:00:00
4                2  2016-01-01 00:00:00   2016-01-01 00:00:00
...            ...                  ...                   ...
10906851         2  2016-01-31 22:53:00   2016-01-31 22:59:37
10906852         2  2016-01-31 23:00:11   2016-01-31 23:12:08
10906853         2  2016-01-31 23:30:32   2016-01-31 23:38:18
10906854         1  2016-01-05 00:15:55   2016-01-05 00:16:06
10906857         1  2016-01-05 06:15:21   2016-01-05 06:15:36

          passenger_count  trip_distance  pickup_longitude  pickup_latitude  \
0                       2           1.10        -73.990372        40.734695
1                       5           4.90        -73.980782        40.729912
2                       1          10.54        -73.984550        40.679565
3                       1           4.75        -73.993469        40.718990
4                       3           1.76        -73.960625        40.781330
...                   ...            ...               ...              ...
10906851                1           1.68        -74.003578        40.750751
10906852                1           2.65        -74.002159        40.734852
10906853                1           2.20        -74.003578        40.751011
10906854                1           0.00        -73.945488        40.751530
10906857                3           0.00        -73.960938        40.758595

          RatecodeID store_and_fwd_flag  dropoff_longitude  dropoff_latitude  \
0                  1                  N         -73.981842         40.732407
1                  1                  N         -73.944473         40.716679
2                  1                  N         -73.950272         40.788925
3                  1                  N         -73.962242         40.657333
4                  1                  N         -73.977264         40.758514
...              ...                ...                ...               ...
10906851           1                  N         -74.002159         40.734909
10906852           1                  N         -73.999680         40.761669
10906853           1                  N         -73.982651         40.767509
10906854           1                  N         -73.945457         40.751530
10906857           2                  N         -73.961006         40.758583

          payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0                    2          7.5    0.5      0.5         0.0          0.00
1                    1         18.0    0.5      0.5         0.0          0.00
2                    1         33.0    0.5      0.5         0.0          0.00
3                    2         16.5    0.0      0.5         0.0          0.00
4                    2          8.0    0.0      0.5         0.0          0.00
...                ...          ...    ...      ...         ...           ...
10906851             1          7.0    0.5      0.5         1.0          0.00
10906852             1         11.0    0.5      0.5         1.0          0.00
10906853             2          8.5    0.5      0.5         0.0          0.00
10906854             2          2.5    0.5      0.5         0.0          0.00
10906857             2         52.0    0.0      0.5         0.0          5.54

          improvement_surcharge  total_amount
0                           0.3          8.80
1                           0.3         19.30
2                           0.3         34.30
3                           0.3         17.30
4                           0.3          8.80
...                         ...           ...
10906851                    0.3          9.30
10906852                    0.3         13.30
10906853                    0.3          9.80
10906854                    0.3          3.80
10906857                    0.3         58.34

[10889938 rows x 19 columns]>

In [29]:
df = df[df['trip_distance']> 0] # чистим баги в системе + отмены
df = df[df['total_amount'] > 0] # чистим баги
duration = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60 
df = df[duration >= 1] # чистим поездки меньше минуты нах они вообще нужны
df = df[df['trip_distance'] <= 100] # тут дистанцию подчищаем
df = df[df['passenger_count'] > 0] # втф 0 пассажиров это как, хотя мб доставка....???
#а сейчас почистми по координатам нью йорка
df = df[
    (df['pickup_longitude'].between(-74.25, -73.7)) &
    (df['dropoff_longitude'].between(-74.25, -73.7)) &
    (df['pickup_latitude'].between(40.5, 41.0)) &
    (df['dropoff_latitude'].between(40.5, 41.0))
]
# почистили примерно 270к строк +-

In [30]:
df.head

<bound method NDFrame.head of           VendorID tpep_pickup_datetime tpep_dropoff_datetime  \
5                2  2016-01-01 00:00:00   2016-01-01 00:18:30
6                2  2016-01-01 00:00:00   2016-01-01 00:26:45
7                1  2016-01-01 00:00:01   2016-01-01 00:11:55
8                1  2016-01-01 00:00:02   2016-01-01 00:11:14
9                2  2016-01-01 00:00:02   2016-01-01 00:11:08
...            ...                  ...                   ...
10906849         2  2016-01-31 21:28:59   2016-01-31 22:01:58
10906850         2  2016-01-31 22:36:41   2016-01-31 22:45:04
10906851         2  2016-01-31 22:53:00   2016-01-31 22:59:37
10906852         2  2016-01-31 23:00:11   2016-01-31 23:12:08
10906853         2  2016-01-31 23:30:32   2016-01-31 23:38:18

          passenger_count  trip_distance  pickup_longitude  pickup_latitude  \
5                       2           5.52        -73.980118        40.743050
6                       2           7.45        -73.994057        40.719990
7                       1           1.20        -73.979424        40.744614
8                       1           6.00        -73.947151        40.791046
9                       1           3.21        -73.998344        40.723896
...                   ...            ...               ...              ...
10906849                1           7.83        -74.002953        40.750481
10906850                1           2.50        -74.009277        40.717049
10906851                1           1.68        -74.003578        40.750751
10906852                1           2.65        -74.002159        40.734852
10906853                1           2.20        -74.003578        40.751011

          RatecodeID store_and_fwd_flag  dropoff_longitude  dropoff_latitude  \
5                  1                  N         -73.913490         40.763142
6                  1                  N         -73.966362         40.789871
7                  1                  N         -73.992035         40.753944
8                  1                  N         -73.920769         40.865578
9                  1                  N         -73.995850         40.688400
...              ...                ...                ...               ...
10906849           1                  N         -73.958153         40.656689
10906850           1                  N         -73.994637         40.750488
10906851           1                  N         -74.002159         40.734909
10906852           1                  N         -73.999680         40.761669
10906853           1                  N         -73.982651         40.767509

          payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
5                    2         19.0    0.5      0.5        0.00           0.0
6                    2         26.0    0.5      0.5        0.00           0.0
7                    2          9.0    0.5      0.5        0.00           0.0
8                    2         18.0    0.5      0.5        0.00           0.0
9                    2         11.5    0.5      0.5        0.00           0.0
...                ...          ...    ...      ...         ...           ...
10906849             1         29.0    0.5      0.5        5.00           0.0
10906850             1          9.5    0.5      0.5        2.16           0.0
10906851             1          7.0    0.5      0.5        1.00           0.0
10906852             1         11.0    0.5      0.5        1.00           0.0
10906853             2          8.5    0.5      0.5        0.00           0.0

          improvement_surcharge  total_amount
5                           0.3         20.30
6                           0.3         27.30
7                           0.3         10.30
8                           0.3         19.30
9                           0.3         12.80
...                         ...           ...
10906849                    0.3         35.30
10906850                    0.3         12.96
10906851                    0.3          9.30
10906852                    0.3         13.30
10906853                    0.3          9.80

[10622712 rows x 19 columns]>

In [32]:
user = "pguser"
password = "Pa$$w0rd"
host = "vpngw.avalon.ru"
port="5432"
db="prifki"
engine = create_engine(f"postgresql://{user}:{password}@{host}:{port}/{db}")
db.to_sql("taxi_trips_2016_jan", engine, if_exists = "replace", index = False)

print ("ЗАЕБИСЬ!")

SyntaxError: unterminated string literal (detected at line 9) (3639263518.py, line 9)